.path {
	min-height: 700px;
	padding-top: 100px;
	position: relative;
	.plane { 
		width: 376px;
		bottom: 0;
		right: -85px;
		position: absolute;
		@media (max-width:1400px) {
			width: 325px;
			right: -45px;
			bottom:0px;
			
		}
		@media (max-width:1200px) {
			width: 290px;
			bottom:20px;
			right: -120px;

			
		}
		@media (max-width:375px) {
			width: 333px;
			z-index: 1;
			top: 39%;
			left: 10%;
			

			
		}

	}
	&__title {
		max-width: 705px;
		position: relative;
		color: rgb(49, 49, 49);
		font-family: Merriweather;
		font-size: 54px;
		font-weight: 400;
		line-height: 120%;
		letter-spacing: 0px;
		text-align: left;
		text-transform: uppercase;
		@media(max-width:375px) {
			font-size: 36px;
			margin-bottom: 128px;

		}
		a {
			position: absolute;
			display:block;
			width: 280px;
			color: rgb(48, 87, 162);
			font-family: GolosText;
			font-size: 20px;
			line-height: 23px;
			text-decoration: none;
			font-weight: 400;
			top: 72px;
			left: 290px;
			@media (max-width:375px) {
				position: relative;
				top: auto;
				left: auto;
				font-size: 18px;
			}
		}
	}
	&__grid {
		display: none;
		height: 350px;
		margin-top: 64px;
		grid-template-columns: repeat(3,minmax(100px, 394px));
		gap: 20px;
		grid-template-rows:repeat(3, 112px) ;
		&_items-wrapper {
			position: relative;
			padding: 20px;
			background: url('../images/bgc.png') center center/cover no-repeat;
			//display: flex;
			
			@media (max-width:1300px) {
				padding: 5px;
			}


			&:nth-child(3) {
				grid-row: span 2;
			}
			&:nth-child(7) {
				grid-column: span 2;
				.path__grid_text {
					max-width: 446px;
				}
				
			}
			&:nth-child(-n+6) {
				.path__grid_text {
					max-width: 302px;
				}
			}
		}

		&_round {
			
			width: 36px;
			height: 36px;
			background-color: #fff;
			border-radius: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;


		}
		&_text {
			display: block;
			margin-left: 50px;
			position: relative;
			color: rgb(49, 49, 49);
			font-family: GolosText;
			font-size: 20px;
			font-weight: 500;
			line-height: 20px;

		}
	}
}